* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.header {
  background-image: url(../images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-sectiion {
  padding: 125px 300px;
  text-align: center;
}
.header-title {
  font-size: 70px;
  font-weight: 900;
  color: #ffffff;
}
.header-description {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}
.btn {
  height: 50px;
  border-radius: 5px;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  background-color: #ff5959;
  padding: 10px 20px;
  margin: 30px 0;
}
.btn:hover {
  background-color: green;
}
/* amount section style */
.amount-section {
  padding: 50px 300px;
  text-align: center;
}
.section-title {
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  font-size: 18px;
  font-weight: 500px;
  color: #7b7b7b;
  margin: 35px 0px;
}

.amount {
  display: flex;
  gap: 35px;
  justify-content: space-around;
}
.amount li {
  list-style-type: none;
  font-size: 27px;
  font-weight: 900;
  color: black;
  background-color: #ff5959;
  box-sizing: border-box;
  padding: 25px 20px;
  margin: 20px 0;
  cursor: pointer;
}
.amount-section .amount li:hover {
  background-color: green;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
}
.other-amount {
  font-size: 18px;
  font-weight: 500px;
  color: #7b7b7b;
  margin: 10px;
}
/* donate plan section style */
.plan-section {
  padding: 50px 100px;
  text-align: center;
}
.donate-plan {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.donate-food {
  background-image: url(../icons/food.png);
  background-repeat: no-repeat;
  background-color: #edf5f6;
}
.donate-shelter {
  background-image: url(../icons/shelter.png);
  background-repeat: no-repeat;
  background-color: #ffeeee;
}
.donate-education {
  background-image: url(../icons/Frame-1.png);
  background-repeat: no-repeat;
  background-color: #fff4d6;
}
/* banner section */
.banner {
  display: flex;
  justify-content: space-around;
  gap: 85px;
  padding: 50px 100px;
  text-align: center;
}
.banner-img img {
  width: 572px;
}
/* update sesction */
.update-section {
  padding: 50px 100px;
  text-align: center;
}
.submit-form {
  width: 800px;
  height: auto;
  margin: auto;
  padding: 76px 190px;
  background: #fff4d6;
}
.submit-form input[type="text"],
[type="email"] {
  height: 50px;
  width: 250px;
  margin-bottom: 24px;
  border: 0;
  padding: 18px 30px;
  background-color: #d9d9d9;
}
/* footer section */
.footer {
  text-align: center;
  padding: 50px 0px;
  background-color: #7b7b7b;
}
.footer h1 {
  font-size: 50px;
  font-family: "Rubik Gemstones", cursive;
  font-style: italic;
}
.footer p {
  color: #ffffff;
}
